<div class="col-md-2">
  <p class="shopping_cart_title">Carro de compras:</p>
  <% current_user.shopping_carts.each do |ele| %>
    <div class="row">
      <div class="col-md-2">
        <%= link_to '<i class="fas fa-minus-circle"></i>'.html_safe, shopping_cart_path(ele), method: :delete %>
      </div>
      <div class="col-md-5">
        <%= image_tag ele.product.picture, class:'card-img' %>
      </div>
      <div class="col-md-5">
        <%= "$#{ele.product.price}" %>
      </div>
    </div>
    <br>
  <% end %>
  <% total = locals[:products].pluck(:price).sum %>
  <div class="row">
    <div class="col-md-6">
      <p>Total:</p>
    </div>
    <div class="col-md-6 text-right">
      <p><%="$#{total}"%></p>
    </div>
  </div>
</div>
